Set adalah sebuah tipe data pada python yang dapat menyimpan sekumpulan data yang bersifat unik/ tidak tercetak berulang - ulang.

In [148]:
Genap = {2,4,6,2,8,6,8,10,12} #Anggota Set disebut sebagai member
Genap.update({2,2,2})
print(Genap)
print(type(Genap))

{2, 4, 6, 8, 10, 12}
<class 'set'>

In [150]:
ngerti_ga = set()
print(type(ngerti_ga))
print("Ngerti ga?")

<class 'set'>
Ngerti ga?

Set tidak bisa diakses menggunakan indeks sehingga harus diakses manual

In [153]:
# Program untuk mengecek nim siswa adalah informatika atau bukan
set_nim = {"71231017", "71231018", "71231019", "71231020","61231011", "52831729"}
for i in set_nim:
    if i.startswith("71"):
        print(f"{i} adalah mahasiswa informatika")
    else:
        print("bukan mahasiswa informatika")

71231018 adalah mahasiswa informatika
bukan mahasiswa informatika
71231020 adalah mahasiswa informatika
71231017 adalah mahasiswa informatika
71231019 adalah mahasiswa informatika
bukan mahasiswa informatika

In [141]:
siap = "aku belum mandi tak dung duang tak dung duang"
siap = siap.split()
hasil = []
for i in range(len(siap)-1):
    if siap[i] not in hasil:
        hasil.append(siap[i])
    else:
        hasil.append(siap[i]+siap[i])
        siap.remove(siap[i])
print(hasil)

['aku', 'belum', 'mandi', 'tak', 'dung', 'duang', 'taktak', 'duangduang']

Set tidak dapat diakses menggunakan indeks (akan menampilkan data secara acak) karena set tidak berurutan sehingga hanya bisa diakses menggunakan perulangan for atau while

In [4]:
ganjil = {1,3,5,7,9,11}
genap = {2,4,6,8,10,12,14}
for i in genap:
    if i == 8:
        print(i)
    else:
        print(ganjil|genap)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14}
8
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14}

Set itu mutable yaitu bisa ditambah (menggunakan fungsi .add()) dan anggotanya bisa dihapus (menggunakan fungsi remove() dan lain lain) tetapi tidak bisa diubah secara langsung.
Sifat set juga unik yaitu akan menghilangkan segala nilai atau value yang sama sehingga:

In [157]:
variabel = set()
variabel.add(15)
variabel.add(15)
variabel.add(67)
print(variabel)
variabel.remove(15)
print(variabel)
variabel.update([15])
print(variabel)

{67, 15}
{67}
{67, 15}

Set dapat dihapus dan ditambahkan

In [19]:
intro = {10,20,30,40,50}
intro.remove(10) #Menghapus sesuai yang ditunjuk dan akan error jika yang ingin diremove ga ada
print(intro)
intro.discard(30) #Menghapus seperti remove tetapi tidak error
print(intro)
intro.pop() #Menghapus anggota tetapi diambil secara acak dan error jika set kosong
print(intro)
intro.clear() #Menghapus semua anggota sets
print(intro)

{50, 20, 40, 30}
{50, 20, 40}
{20, 40}
set()

Jika ingin mengubah anggota set, harus menghapus anggota yang ingin diganti terlebih dahulu lalu menambahkan dengan penggantinya

In [20]:
esbuah = {"apel", "anggur", "kacang", "strawberry"}
esbuah.discard("apel")
esbuah.add("roti")
print(esbuah)

{'strawberry', 'roti', 'anggur', 'kacang'}

Operasi - operasi pada set

(seperti matdis/logmat tentang himpunan: 


("&"(dan/.intersection())

"|"(atau/.union())

"-"(.difference()/yang bukan)

"^"(.symetric_difference()/not(a and b))

))

In [23]:
ganjil = {1,3,5,7,9,11,13}
genap = {2,4,6,8,10}
prima = {2,3,5,7,11}

hasil = genap|ganjil
print(hasil)
hasil = ganjil & ganjil
print(hasil)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13}
{1, 3, 5, 7, 9, 11, 13}

kegiatan pragktikum

In [26]:
def unique_sum(list):
    data_set = set(list)
    total = 0
    for data in data_set:
        total += data
    return data_set,total

var = [1,2,3,4,5,4,7,5,4,8,5,6,7,2,4,5,7,3,4,7,4,5,6,8,5,6,4,7,6,3,2,4,4,6]
hasil = unique_sum(var)
print(hasil)

({1, 2, 3, 4, 5, 6, 7, 8}, 36)

Mengecek duplikat dalam string (keg praktikum)

In [29]:
def cek_duplikat(string):
    karakter_set = set("i")
    for karakter in string:
        if karakter in karakter_set:
            return True
        else:
            karakter_set.add(karakter)
    return False
print(cek_duplikat("Susi"))

True

• List menjadi Set
• Set menjadi List
• Tuple menjadi Set
• Set menjadi Tuple

In [13]:
coba = [1,4,7,9,3,3,4,7,1]
print(f"sebelum {coba}\ttipenya : {type(coba)}")
coba = set(coba)
print(f"setelah1 {coba}\ttipenya : {type(coba)}")
coba = list(coba)
print(f"setelah2 {coba}\ttipenya : {type(coba)}")

sebelum [1, 4, 7, 9, 3, 3, 4, 7, 1]	tipenya : <class 'list'>
setelah1 {1, 3, 4, 7, 9}	tipenya : <class 'set'>
setelah2 [1, 3, 4, 7, 9]	tipenya : <class 'list'>

In [21]:
list1 = [1,2,3,4,5,6]
list2 = [6,7,8,9,0]
hasil = set(list1) | set(list2)
print(hasil)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [23]:
def cek_kekurangan(krs1, krs2):
    hasil = []
    for i in krs1:
        if i not in krs2:
            hasil.append(i)
    return len(hasil)

krs1 = ['alpro', 'strukdat', 'pbo', 'ppkn', 'toefl', 'prakalpro', 'skripsi', 'kkn', 'statistik', 'ai', 'jarkom', 'tekwan']
krs2 = ['alpro', 'jarkom', 'pbo', 'strukdat', 'statistik', 'hamdem', 'kcp']
cek_kekurangan(krs1, krs2)

7

In [24]:
def cek_kekurangan(krs1, krs2):
    hasil = []
    for i in krs1:
        i.lower()
        if i not in krs2:
            hasil.append(i)
    print(len(hasil))

krs1 = ['alpro', 'strukdat', 'pbo', 'ppkn', 'toefl', 'prakalpro', 'skripsi', 'kkn', 'statistik', 'ai', 'jarkom', 'tekwan']
krs2 = ['alpro', 'jarkom', 'pbo', 'strukdat', 'statistik', 'hamdem', 'kcp']
cek_kekurangan(krs1, krs2)

7

In [28]:
list1 = {1:"satu",2:"dua",3:"iga",4:"papat",5:"ma",6:"nam"}
list2 = {6:"nam",7:"ju",8:"pan",9:"lan",0:"luh"}
print(len(set(list1)|set(list2)))

10

In [29]:
X = {'a':0.5, 'b':0.3, 'c':0.1}

for i in X:
    print(i)

a
b
c

In [31]:
satu = (1,2,3,4,5,5)
n = len(satu)
for i in range(n):
    print(i)

0
1
2
3
4
5

In [66]:
from math import sqrt

def euclidienCalculation(dict1, dict2):
     m = len(set(dict1)|set(dict2))
     n = len(set(dict1)&set(dict2))
     hasil = 0
     for i in range(n):
        for j in dict1:
            if j in dict2:
                angka = ((dict1[j] - dict2[j])**2)/m
                hasil += angka
     return(float(hasil))

o1 = {'a':0.1724,'b':0.648,'c':0.021}
o2 = {'a':0.214,'b':0.048,'d':0.121}
print(f'EucRel: {euclidienCalculation(o1,o2)}')

EucRel: 0.18086528

In [65]:
from math import sqrt

def euclidienCalculation(dict1, dict2):
     m = len(set(dict1)|set(dict2))
     n = len(set(dict1)&set(dict2))
     hasil = 0
     for i in range(n):
         for j in dict1:
            if j in dict2:
                angka = ((dict1[j] - dict2[j])**2)/m
                hasil += angka

o1 = {'a':0.1724,'b':0.648,'c':0.021}
o2 = {'a':0.214,'b':0.048,'d':0.121}
print('EucRel: %0.3f'%euclidienCalculation(o1,o2))

TypeError: must be real number, not NoneType

In [44]:
o1 = {'a':0.1724,'b':0.648,'c':0.021}
o2 = {'a':0.214,'b':0.048,'d':0.121}
print(o1["b"] - o2["b"])

0.6

In [ ]:
from math import sqrt

def euclidienCalculation(dict1, dict2):
     m = len(set(dict1)|set(dict2))
     n = len(set(dict1)&set(dict2))
     hasil = 0
     for i in dict1:
         if i in dict2:
            angka = ((dict1[i] - dict2[i])**2)/m
            hasil += angka
     return float(hasil)

In [68]:
a = (1,2)
for i in range(len(a)):
    print(i)

0
1

In [73]:
a = "saya mau makan"
print(a.split())

['saya', 'mau', 'makan']